.presentation {
  scroll-snap-type: block mandatory;
  height: 100vh;
  overflow-y: scroll;
}

.presentation .content header,
.presentation .content section {
  scroll-snap-align: start;
  height: 100vh;
}
/* The first section is just an introduction, and thus can be hidden. */
.presentation .content header + section {
  display: none;
}

.presentation .content p {
  display: none;
}
.presentation .content p.closer {
  display: block;
}

.presentation .content p.credits {
  display: flex;
}

.presentation code {
  font-size: 2rem;
}

.presentation:not([hidden]) code:not([hidden]) {
  display: flex;
  align-items: center;
  margin: 0;
}
